<a href="https://colab.research.google.com/github/QUADRIABUBAKAR/ACCESS-Data-science-assignment/blob/main/Week_1%2C_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def transactionlist(transactions):
  if  transactions:
    total = sum(transactions)
    average = sum(transactions) / len(transactions)
    num = len(transactions)
    print(f"The Sum is {total}")
    print(f"The Average is {average}")
    print(f"The Number of transactions made is {num}")
  else :
    print("there is no list")

transactionlist([3456, 4545, 554, 143232])

The Sum is 151787
The Average is 37946.75
The Number of transactions made is 4