<a href="https://colab.research.google.com/github/QUADRIABUBAKAR/ACCESS-Data-science-assignment/blob/main/Week%202/%20Week2_Session4_Data_Cleaning_And_Feature_Creation_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading the Dataset

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
sales_data = pd.read_csv('/content/drive/MyDrive/Warehouse_and_Retail_Sales.csv')

Mounted at /content/drive

In [3]:
sales_data.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [4]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB

In [5]:
sales_data.isna().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [6]:
sales_data.shape

(307645, 9)

Cleaning of the Data

In [7]:
# Decision: Drop this column, IT IS NOT Needed for analysis
sales_data_clean = sales_data.drop(columns=['ITEM DESCRIPTION'])

For the na in the column of item type, i would add it to the  most occuring count of the unique.

In [8]:
unique_count = sales_data_clean["ITEM TYPE"].value_counts()
print("Number of unique values:", unique_count)

Number of unique values: ITEM TYPE
WINE            187640
LIQUOR           64910
BEER             42413
KEGS             10146
NON-ALCOHOL       1908
STR_SUPPLIES       405
REF                127
DUNNAGE             95
Name: count, dtype: int64

In [9]:
# FILLING THE MISSING ROW UNDER ITEM TYPE WITH WINE
sales_data_clean['ITEM TYPE'] = sales_data_clean['ITEM TYPE'].fillna('WINE')

In [10]:
sales_data_clean.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,WINE,0.82,0.0,0.0

In [11]:
# FILL MISSING VALUES UNDER THE COLUMN 'SUPPLIER'
sales_data_clean['SUPPLIER'] = sales_data_clean['SUPPLIER'].fillna('UNKNOWN')

In [12]:
# FILL THE MISSING VALUES UNDER RETAIL SALES WITH THE MODE
sales_data_clean['RETAIL SALES'] = sales_data_clean['RETAIL SALES'].fillna(sales_data_clean['RETAIL SALES'].mode()[0])

CHECK IF THERE ARE STILL MISSING VALUES

In [13]:
sales_data_clean.isna().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    0
WAREHOUSE SALES     0
dtype: int64

CHECK FOR DUPLICATES

In [14]:
sales_data_clean.duplicated().sum()

np.int64(0)

FEATURE ENGINEERING

In [15]:
# CREATE TOTAL SALES COLUMN TO SEE TOTAL SALES FROM EACH TRANSACTIONS
sales_data_clean['TOTAL SALES'] = sales_data_clean['RETAIL SALES'] + sales_data_clean['WAREHOUSE SALES']
sales_data_clean.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,TOTAL SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,WINE,0.00,0.0,2.0,2.00
1,2020,1,PWSWN INC,100024,WINE,0.00,1.0,4.0,4.00
2,2020,1,RELIABLE CHURCHILL LLLP,1001,BEER,0.00,0.0,1.0,1.00
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,WINE,0.00,0.0,1.0,1.00
4,2020,1,DIONYSOS IMPORTS INC,100293,WINE,0.82,0.0,0.0,0.82

In [16]:
# CREATE A NEW COLUMN 'DATE' AND MAKE IT A DATETIME DATATYPE
sales_data_clean['DATE'] = sales_data_clean['YEAR'].astype(str) + '-' + sales_data_clean['MONTH'].astype(str)
sales_data_clean['DATE'] = pd.to_datetime(sales_data_clean['DATE'])
sales_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307645 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM TYPE         307645 non-null  object
 5   RETAIL SALES      307645 non-null  float64
 6   RETAIL TRANSFERS  307645 non-null  float64
 7   WAREHOUSE SALES   307645 non-null  float64
 8   TOTAL SALES       307645 non-null  float64
 9   DATE              307645 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 23.5+ MB

In [18]:
#to save the data that was cleaned
sales_data_clean.to_csv('/content/drive/MyDrive/cleaned_data.csv', index=False)